[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pandas = "*"
pillow = "*"
wxpython = "*"
pywin32 = "*"

[dev-packages]
black = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"
